<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.security" />

    <!--
 This library wants SDK version 23 but we do runtime checks to not use it before
        API 23
    -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="neverForLocation" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application>
        <activity
            android:name=".TempBtmTrustDevice"
            android:exported="false" />

        <service
            android:name=".ac4_screenlock.LockScreenService"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:exported="true"></service>
        <!-- 전체 메인 화면 -->
        <activity
            android:name=".allinsafemain.AllinsafeMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- AllinsafeMainActivity에서 AppCompat~를 상속 근데, 테마가 Material 어쩌구라  android:theme="@style/Theme.AllinSafe"> -->

        </activity> <!-- spoofing -->
        <activity
            android:name=".SpoofingMainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity> <!-- ✅ VpnService 등록 -->
        <service
            android:name=".vpn.CustomVpnService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service> <!-- vpn 메인 페이지 -->
        <activity
            android:name=".activities.VpnMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openvpn" />
                <data android:host="import-profile" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.InternalWebView" /> <!-- spoofing -->
        <activity
            android:name=".Ac5_02_spoofingdetect_process"
            android:exported="false"
            android:taskAffinity="com.ui.multiFinish" />
        <activity
            android:name=".Ac5_03_spoofingdetect_completed"
            android:exported="false"
            android:taskAffinity="com.ui.multiFinish" />
        <activity
            android:name=".Ac5_04_spoofingdetect_detect_history"
            android:exported="false" />

        <service
            android:name=".OpenVPNTileService"
            android:exported="true"
            android:icon="@drawable/ic_quick"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

        <provider
            android:name=".FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" /> <!-- 25.08.02 앱-화면잠금,블루투스 합병 -> 필요없는 vpn 파일들 삭제 후 다시 하겠음 -->
        <activity
            android:name=".ac0_main.Ac0_09_user_info"
            android:exported="false" />
        <activity
            android:name=".ac0_main.Ac0_00_main_init_main"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.EditLockAppActivity"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.AlarmActivity"
            android:exported="false" /> <!-- 여기서부턴 로그인,핀/패턴 -->
        <activity
            android:name=".ac0_login.Ac0_02_register"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_03_choose_pinOrPattern"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_04_pattern_setup"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_05_pattern_verify"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_06_pin_setup"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_07_pin_verify"
            android:exported="false" />
        <activity
            android:name=".ac0_patternpin.Ac0_08_pinpattern_forwarding"
            android:exported="false" />
        <activity
            android:name=".ac1_applock.Ac1_01_applock_init_main"
            android:exported="false" />
        <activity
            android:name=".ac4_screenlock.Ac4_01_screenlock_main"
            android:exported="false" />
        <activity
            android:name=".ac2_btmanage.Ac2_02_bluetooth_trust_device"
            android:exported="false" />
        <activity
            android:name=".ac2_btmanage.BluetoothMainActivity"
            android:exported="false" />
        <activity
            android:name=".ac2_btmanage.Ac2_01_bluetooth_main"
            android:exported="false" />
        <activity
            android:name=".ac0_login.Ac0_01_login"
            android:exported="true">

            <!-- 25.08.02 로그인 메인 화면 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ac1_applock.AppLockAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".OnBootReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver> <!-- ✅ PIN 설정 액티비티 -->
        <activity
            android:name=".ac4_screenlock.pinlock.PinSetupActivity"
            android:exported="false"
            android:label="PIN 설정"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- ✅ PIN 입력 액티비티 -->
        <activity
            android:name=".ac4_screenlock.pinlock.PinLockActivity"
            android:exported="false"
            android:label="PIN 인증"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- ✅ Device Admin 수신자 -->
        <receiver
            android:name=".ac4_screenlock.MyDeviceAdminReceiver"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver> <!-- ✅ 잠금 해제 감지 리시버 -->
        <receiver
            android:name=".ac4_screenlock.receiver.LockStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>